@import '../../sassStyles/main.scss';

.wine-experiencepage {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__section {
        text-align: left;
        margin: 5rem 0;

        min-height: 30rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
    }

    &__about {
        display: flex;
        flex-direction: row;

        @include respond(phone) {
            flex-direction: column;
        }

        &--image {
            background-color: grey;
            width: 45rem;
            margin-left: 2rem;
            height: 30rem;

            @include respond(phone) {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    &__wine-blendings {
        &--wrapper {
            & > * {
                width: 90%;
            }
        }
    }

    &__tasting-and-pairings {

        &__content {
            display: flex;
            align-items: center;

            @include respond(phone) {
                flex-direction: column;
            }
        }
        
        &--image {
            background-color: grey;
            width: 45rem;
            margin-left: 2rem;
            height: 30rem;

            @include respond(phone) {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    &__wine-blendings {
        width: 100%;
        min-height: 40rem;
        color: $color-white;
        overflow: hidden;

        &--wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    &__custom-bottles {

        &__sec {
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond(phone) {
                flex-direction: column;
            }

            &:not(:last-child) {
                margin-bottom: 5rem;
            }

            &--text {
                width: 55%;
                text-align: left;

                @include respond(phone) {
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }

            &--picture {
                background-color: grey;
                width: 45rem;
                //height: 25rem;
                height: 30rem;

                @include respond(phone) {
                    width: 100%;
                }
            }

            &--2 {
                &--picture {
                    order: -1;
                    margin-right: 2rem;

                    @include respond(phone) {
                        order: 2;
                        margin-right: 0;
                    }
                }
            }

            &--1,
            &--3 {
                &--picture {
                    margin-left: 2rem;

                    @include respond(phone) {
                        margin-left: 0;
                    }
                }
            }
        }
        
    }
}