@import '../../sassStyles/main.scss';

.event-planning {
    display: flex;
    justify-content: center;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10rem center;

    &--wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__side {
        width: 50%;

        &--1 {
            max-width: 40rem;
        }
        
    }

    &__text {
        margin-bottom: 5rem;
    }

    &__p {
        text-align: left;
    }
}