@import '../../sassStyles/main.scss';

.event-planning {
    display: flex;
    justify-content: center;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10rem center;

    @include respond(tab-land) {
        background-position: 0 center;
    }

    &--wrapper {
        display: flex;
        justify-content: space-between;

        @include respond(tab-land) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__side {
        width: 50%;

        &--1 {
            max-width: 40rem;

            @include respond(tab-land) {
                margin-bottom: 5rem;
            }
        }
        
        &--2 {
            @include respond(tab-port) {
                justify-content: center;
            }
        }
    }

    &__text {
        margin-bottom: 5rem;
    }

    &__p {
        text-align: left;
    }
}