@import '../../sassStyles/main.scss';

.website-navigation {
    width: 100%;

    &__list {
        list-style-type: none;
        text-align: center;
        display: flex;
        width: 100%;
    }
    &__list-item {
        &:not(last-child) {
            margin-right: 5rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            text-transform: lowercase;
            //color: $color-white;
        }

        &:hover,
        &:active {
            color: $color-primary-red;
            transition: all .5s;
        }
    }

    &__underline {
        width: .3rem;
        height: .3rem;
        background-color: $color-primary-red;
    }

    &__diamond {
        font-size: 2rem;
        color: $color-primary-red;
    }

    &__underline,
    &__diamond {
        position: relative;
        transition: all ease-in-out .5s;
    }

}