@import '../../sassStyles/main.scss';

/*
    - current page is marked by link having an underline and diamond underneath it
    - when hoving other links the diamond moves to that link (fluid movement, it does not fade away or in)
    - when selecting a link the bar moves to the selected page
    - when there is no hover the diamond and bar remain on the current page
*/

.website-navigation {
    width: 100%;

    &__list {
        list-style-type: none;
        text-align: center;
        display: flex;
        width: 100%;
    }
    &__list-item {
        &:not(last-child) {
            margin-right: 5rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            text-transform: lowercase;
        }

        /*&:hover,
        &:active {
            
        }*/
    }

    &__underline {
        width: .3rem;
        height: .3rem;
        background-color: $color-primary-red;
    }

    &__diamond {
        font-size: 2rem;
        color: $color-primary-red;
        //text-align: left;
    }

    &__underline,
    &__diamond {
        position: relative;
        transition: all ease-in-out .5s;
    }
}