@import '../../sassStyles/main.scss';

.weddings-and-events {
    display: flex;
    justify-content: center;

    color: $color-white;
    overflow: hidden;
    //necessary to fill up the space from the padding
    background-color: $color-secondary-red-dark;

    &--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__cards {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
        }   
    }

}