@import '../../sassStyles/main.scss';

.imageBox {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    & > * {
        position: absolute;
    }

    &__content {
        z-index: 2;
    }

    &__border {
        z-index: 1;
        //width: 93%;
        //height: 90%;
        width: calc(100% - 3rem);
        height: calc(100% - 3rem);
        @include borderStyle(white);
    }

    &__image-holder {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &:hover {
        .imageBox__image-holder {
            transform: scale(1.1);
            @include imageHolderTransition(transform);
        }
    }

    &--transparent {
        .imageBox__image-holder {
            opacity: .7;
            filter: blur(.1rem);
        }
    }


}