@import '../../sassStyles/main.scss';

.mobile-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__checkbox {
        display: none;
    }

    &__label,
    &__logo-link {
        display: relative;
        z-index: 1000;
    }

    &__icon,
    &__icon-background {
        transition: all .7s;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 5rem;
        height: 5rem;
        @include borderStyle(white);

        &:hover {
            cursor: pointer;
            
        }
    }

    &__icon-background {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: -1;

        width: 3.5rem;
        height: 3.5rem;
        background-color: $color-white;

        @include primary-box-shadow;
    }

    &__hamburger-bar {
        position: relative;

        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
        }

        &::before {
            top: 1rem;
        }

        &::after {
            top: -1rem;
        }
    }

    &__hamburger-bar,
    &__hamburger-bar::after,
    &__hamburger-bar::before {
        transition: all .7s;
        width: 2rem;
        height: .3rem;
        background-color: $color-primary-red;
    }

    &__nav-background {
        position: absolute;
        top: -50rem;
        left: 0;
        z-index: 100;
        background-color: $color-secondary-red-dark;
        width: 100%;
        height: 0;

        transition: all .9s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    &__nav {
        text-align: left;

        &--wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__nav-location {
        height: 30.9rem;

        &__marker {
            margin-top: .2rem;
            color: $color-primary-red;
            margin-right: 1rem;
            font-size: 2rem;
        }
        
    }

    &__list,
    &__nav-location-marker {
        font-size: 2.3rem;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }


    /**************************
        MENU FUNCTIONALITY
    **************************/

    &__checkbox:checked ~ &__label &__icon &__icon-background {
        transform: rotate(180deg);
    }

    &__checkbox:checked ~ &__label &__icon &__icon-background &__hamburger-bar {
        background-color: $color-white;
    }
    &__checkbox:checked ~ &__label &__icon &__icon-background &__hamburger-bar::before {
        transform: rotate(-225deg);
        top: 0;
    }
    &__checkbox:checked ~ &__label &__icon &__icon-background &__hamburger-bar::after {
        transform: rotate(225deg);
        top: 0;
    }

    &__checkbox:checked ~ &__nav-background {
        //opacity: 1;
        //z-index: 100;
        top: 0;
        height: 100vh;
    }
}