@import '../../sassStyles/main.scss';

.logo {
    width: 8rem;
    height: 8rem;
    //background-color: $color-primary-red;

    @include respond(tab-port) {
        width: 6rem;
        height: 6rem;

        &__image {
            width: 6rem;
            height: 6rem;
        }
    }

    &__image {
        width: 8rem;
        height: 8rem;
    }
}