@import '../../sassStyles/main.scss';

.custom-input {
    &__group {
        text-align: left;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__label {
        transition: all .5s;
        margin-left: 1.5rem;
        display: block;
    }

    &__input,
    &__message {
        padding: .8rem 1.5rem;
        border: none;
        width: 90%;
        display: block;
        transition: all .1s;
        color: grey;
        font-family: inherit;
        font-size: 1.5rem;

        @include primary-box-shadow;

        @include respond(tab-port) {
            width: 100%;
        }

        &:focus {
            outline: none;
            border-bottom: .2rem solid $color-primary-red;
        }

        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &:-moz-placeholder {
            color: grey;
        }
    }

    &__message {
        height: 10rem;
        @include respond(phone) {
            height: 20rem;
        }
    }

    &__checkbox {
        //margin-right: 1.5rem;
        opacity: 0;
        height: 0;
        width: 0;

        &--wrapper {
            display: inline-block;
            
        }

        &--checkmark {
            position: relative;
            display: inline-block;
            vertical-align: text-top;
            margin-right: 1.2rem;

            height: 2rem;
            width: 2rem;
            background-color: $color-white;
            border: solid .2rem $color-primary-red;

            &:hover {
                background-color: $color-secondary-red-light;
            }

            &::after {
                content: "\2713";
                position: absolute;
                top: -1.6rem;
                color: $color-primary-red;
                font-size: 2.8rem;

                opacity: 0;
            }
        }

        &--checkmark,
        &--checkmark::after {
            transition: all .2s;
        }
    }
    &__label-checkbox {
        font-weight: bold;
        cursor: pointer;
    }

    &__checkbox:checked ~ &__label-checkbox &__checkbox--checkmark::after {
        opacity: 1;
    }

    &__input:placeholder-shown + &__label,
    &__message:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}