@import '../../sassStyles/main.scss';

.carousel {
    position: relative;

    &--wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
    }

    &__images {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $color-primary-red;

        //width: 400%;
        height: 100%;
        width: 100%;

        //display: flex;
    }

    &__image {
        display: none;
        position: absolute;
        right: 0;
        top: 0;

        /*-webkit-animation-name: fade;
        -webkit-animation-duration: 2.5s;
        -moz-animation-name: fade;
        -moz-animation-duration: 2.5s;
        animation-name: fade;
        animation-duration: 2.5s;
        */

        @include animation(fade, 2.5s, $cubic-bezier);
    }

    &__location-marker {
        display: flex;
        position: relative;
        z-index: 0;

        &--diamond-highlight {
            backface-visibility: none;
            position: absolute;
            top: -1.2rem;
            left: -.8rem;
            color: transparent;
            font-size: 3.5rem;
            -webkit-text-stroke: .3rem $color-primary-red;
            z-index: -1;
            transition: all ease-in-out .5s;
        }

        &--diamond {
            transition: all ease-in-out .5s;
            color: $color-white;
            &:not(:last-child) {
                margin-right: 2rem;
            }

            &:hover {
                cursor: pointer;
                color: $color-primary-red;
            }
        }
    }
}