@import '../../sassStyles/main.scss';

.footer {
    display: flex;
    justify-content: center;

    color: $color-white;
    overflow: hidden;

    &__logo-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 7rem;
    }

    &__logo-image {
        width: 10rem;
        height: 10rem;
        background-color: $color-primary-red;
        margin-bottom: 1rem;
    }

    &__logo-text {
        font-family: $font-logo;
        text-transform: none;
        font-size: 2.7rem;
    }

    &--wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__nav {
        width: 90%;
        display: flex;
        justify-content: space-between;



        @include respond(phone) {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        &__section {
            &:not(:last-child) {
                margin-bottom: 5rem;
            }
        }

        &__list {
            list-style-type: none;
            text-align: left;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: .8rem;
            }

            &:hover {
                transform: translateY(-.5rem);
            }
            &:active {
                transform: translateY(0);
            }
        }
        &__link,
        &__link::after,
        &__item {
            transition: all .3s;
        }

        &__link {
            text-decoration: none;
            color: $color-white;

            &::after {
                content: '';
                display: block;
                width: 20%;
                height: .1rem;
                background-color: $color-white;
            }

            &--span {
                display: block;
            }

            &:hover {
                &::after {
                    width: 50%;
                    background-color: $color-primary-red;
                }
            }

            &:active {
                color: $color-primary-red;
            }
        }
    }
}