@import '../../sassStyles/main.scss';

.footer {
    color: $color-white;
    overflow: hidden;

    &__logo-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 7rem;
    }

    &__logo-image {
        width: 10rem;
        height: 10rem;
        background-color: $color-primary-red;
        margin-bottom: 1rem;
    }

    &__logo-text {
        font-family: $font-logo;
        text-transform: none;
        font-size: 2.7rem;
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__list {
            list-style-type: none;
            text-align: left;
        }

        &__item {
            &:not(:last-child) {
                margin-bottom: .8rem;
            }
        }

        &__link {
            text-decoration: underline;

            &--span {
                display: block;
            }
        }
    }
}