/********************** 
      UTILITIES
**********************/ 

.section-padding {
    padding: 15rem 0;

    @include respond(tab-land) {
        padding: 9rem 0;
    }
}

.sub-section-padding {
    padding: 5rem 0;
}

.wrapper-width {
    width: 100%;
    max-width: 144rem;
}