//*** VARIABLES ***// 

// COLORS 
$color-white: #fff;
$color-dark: #000;

$color-primary-red: #d90404;

$color-secondary-red-dark: #670000;
$color-secoondary-red-med: #860706;

//FONTS
$font-body: serif;
$font-display: sans-serif;
$font-display-secondary: cursive;


//FONT SIZING

