//*** VARIABLES ***// 

// COLORS 
$color-white: #fff;
$color-black: #000;

$color-primary-red: #d90404;

$color-secondary-red-dark: #670000;
$color-secoondary-red-med: #860706;

//FONTS
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@1&family=Raleway&family=Sorts+Mill+Goudy&family=Tangerine&display=swap');

$font-body: 'Sorts Mill Goudy', serif;
$font-display: 'Raleway', sans-serif;
$font-display-secondary: 'Tangerine', cursive;
$font-logo: 'IM Fell English', serif;


//FONT SIZING


//OTHER
$cubic-bezier: cubic-bezier(0.25, 0.45, 0.45, 0.95);