@import '../../sassStyles/main.scss';

.custom-list {
    list-style-type: none;
    padding: 2rem 0 2rem 2rem;
    text-align: left;

    &__item {
        display: flex;
        align-items: center;
        font-size: 1.8rem;

        &:not(:last-child) {
            margin-bottom: .5rem;     
         }

        &::before {
            content: "\220E";
            display: inline-block;
            transform: rotate(45deg);
            padding-right: 1rem;
            font-size: 2.4rem;
            color: $color-primary-red;
        }
    }
}