@import '../../sassStyles/main.scss';

.custom-card {
    width: 28rem;
    height: 50rem;

    @include primary-box-shadow;

    @include respond(tab-port) {
        width: 90%;
        height: 28rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &--wrapper {
        .imageBox__content {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}