/*Global website styles*/
/*
  typography
  global styles

  this styles are applied to the overall website app
*/

@import './sassStyles/main.scss';

body {
  font-family: $font-body;
}

h1, h2, h3, h4 {
  font-family: $font-display;
}

.App {
  text-align: center;
}

