/*Global website styles*/
/*
  css reset
  global styles
  typography

  this styles are applied to the overall website app
*/

@import './sassStyles/main.scss';

/*************** 
  GLOBAL

  sizing conventions used: 
  REM & EM 
  1 rem = 10px
  1 em = 16px
***************/ 

//resets and definitions for site wide sizing conventions
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //rem definition
  font-size: 62.5%; //1 rem = 10px --> 10px/16-x = 62.5%

  
  /*@include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 12px
  }*/
  
}

body {
  box-sizing: border-box;
}

/*************** 
      GRID
***************/ 

.App {
  display: grid;
  //10 columns for all pages
  grid-template-rows: max-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr)
                        [center-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end])
                        [center-end] minmax(6rem, 1fr) [full-end]; 
}

.header {
  grid-column: center-start / center-end;
  grid-row: 1;

  @include respond(tab-land) {
    grid-column: full-start / full-end;
  }
}
.main-content {
  grid-column: full-start / full-end;
  grid-row: 2;
}
.footer {
  grid-column: full-start/ full-end;
  grid-row: 3;
}

.background-image {
  grid-column: full-start / full-end;
  grid-row: 1 / 2;
}



/*************** 
  TYPOGRAPHY
***************/ 

body {
  font-family: $font-body;
  font-size: 1.6rem;
}

h1, h2, h3, h4 {
  font-family: $font-display;
  text-transform: uppercase;
  font-weight: 100;
}

.logo-font {
  font-family: $font-logo;
  font-size: 6rem;
  text-transform: none;
}

.header-font {
  font-size: 3rem;
}

.pre-header-font {
  font-family: $font-display-secondary;
  text-transform: lowercase;
  font-size: 4rem;
}

.cta-font {
  font-size: 2rem;
}

.App {
  text-align: center;
}

.header-style {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    display: block;
    height: .2rem;
    background-color: $color-primary-red;
    margin-top: .5rem;
  }

  &--1 {
    margin-bottom: 2rem;
    &::after {
      width: 7rem;
    }
  }

  &--2 {
    margin-bottom: 1rem;
    &::after {
      margin-top: 1rem;
      width: 12rem;
    }
  }
}

.nav-link {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-white;
    text-transform: lowercase;
  }
  
  &:hover,
  &:active {
    color: $color-primary-red;
    transition: all .5s;
  }
}

.nav-list {
  list-style-type: none;
}




