/*Global website styles*/
/*
  css reset
  global styles
  typography

  this styles are applied to the overall website app
*/

@import './sassStyles/main.scss';

/*************** 
  GLOBAL

  sizing conventions used: 
  REM & EM 
  1 rem = 10px
  1 em = 16px
***************/ 

//resets and definitions for site wide sizing conventions
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //rem definition
  font-size: 62.5%; //1 rem = 10px --> 10px/16-x = 62.5%

  
  /*@include respond(tab-land) {
    font-size: 56.25%; //1 rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; //1 rem = 8px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1 rem = 12px
  }*/
  
}

body {
  box-sizing: border-box;
  //background color only for testing
  background-color: lightgrey;
}


/*************** 
  TYPOGRAPHY
***************/ 

body {
  font-family: $font-body;
  font-size: 1.6rem;
}

h1, h2, h3, h4 {
  font-family: $font-display;
  text-transform: uppercase;
  font-weight: 100;
}

.logo-font {
  font-family: $font-logo;
  font-size: 6rem;
  text-transform: none;
}

.header-font {
  font-size: 3rem;
}

.pre-header-font {
  font-family: $font-display-secondary;
  text-transform: lowercase;
  font-size: 4rem;
}

.cta-font {
  font-size: 2rem;
}

.App {
  text-align: center;
}

.header-style--1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  &::after {
    content: "";
    display: block;
    width: 7rem;
    height: .2rem;
    background-color: $color-primary-red;
    margin-top: .5rem;
  }
}




