@import '../../sassStyles/main.scss';

.contactpage {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        //max-width: 70rem;
        margin-bottom: -10rem;

        display: relative;
        z-index: 1;

        @include respond (tab-land) {
            margin-bottom: -5rem;
        }

        &--p {
            text-align: left;
        }
    }

    &__contact-form {
        width: 100%;
        height: 100%;
    }
}